html, body {
	margin: 0px;
	padding: 0px;
}

.main-bg {
	width: 1500px;
	height: 400px;
	float: top;
}
header {
	/*height: 239px;
	background-image: url(../img/bg-header-bord.png);
	background-position: center;
	background-repeat: no-repeat;*/
}

body {
	background-image: url(../img/bg-body.jpg);
}